<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Employee Management{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="{% url 'list-employee'}" class="navbar-brand">社員管理システム</a>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="{% url 'list-employee' %}" class="nav-link">社員一覧</a></li>
                    <li class="nav-item"><a href="{% url 'create-employee' %}" class="nav-link">社員登録</a></li>
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">ログアウト</a></li>
            </div>
            <div class="navbar-text">
                ようこそ、{{user.first_name}} {{user.last_name}}さん
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>